html {
    scroll-behavior: smooth
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000;
    overflow-x: hidden
}

img {
    max-width: 100%;
    height: auto
}

a {
    outline: 0!important
}

.about>h2, .about>h3, .blog-area h3, .blog-content .entry-title, .book-taxi-form>h3, .booking-details-form .btn, .choose-us-content-box h3, .contact-form form .btn, .driver-info>h3, .footer-main .widget-title, .get-mobile h2, .get-mobile h3, .logo-block a b, .map .content h3, .media-heading h3, .online-booking-form .btn, .ow-navigation .container>a, .page-heading>h3, .section-header h3, .service-box.book-now a, .service-box>h2, .service-box>h3, .statistics-box>span, .testimonial .carousel-inner p, .testimonial .carousel-inner p span, .we-are-hire span, .we-do-more h2, .we-do-more h3, .what-we-do-box span, .what-we-do-content .more-service a, .what-we-do-content>a, .widget-about li, .widget-title h3, a.purchase, a.see-more {
    font-family: Cabin, sans-serif
}

.subscribe-box .input-group-btn>.btn, .subscribe-box h4, .widget-about li:last-child span {
    font-family: Montserrat, sans-serif
}

.contact-form form input, .contact-form form textarea {
    font-family: Lato, sans-serif
}

.about a, .about>h2, .about>h3, .blog-area h3, .blog-content .entry-title, .book-taxi-form .btn, .booking-details-form .btn, .choose-us-content-box a, .choose-us-content-box h3, .entry-content>a, .get-mobile h2, .get-mobile h3, .map .content h3, .more-than-you>h3, .page-heading>h3, .photos-slider .carousel-caption h2, .photos-slider2 .slider-content h2, .photos-slider2-content h3, .recent-post-box h3, .recent-title a, .section-header h3, .service-box.book-now a, .service-box.content span, .service-box.content>a, .service-box>h2, .service-box>h3, .we-are-hire span, .we-do-more h2, .we-do-more h3, .what-we-do-box span, .what-we-do-content .more-service a, .what-we-do-content>a, .widget-title h3, a.purchase, a.see-more {
    text-transform: uppercase
}

.no-padding {
    padding: 0
}

.no-left-padding, ul {
    padding-left: 0
}

.no-right-padding {
    padding-right: 0
}

.no-top-padding {
    padding-top: 0
}

.no-bottom-padding {
    padding-bottom: 0
}

.no-margin {
    margin: 0
}

.no-left-margin {
    margin-left: 0
}

.no-right-margin {
    margin-right: 0
}

.no-top-margin {
    padding-top: 0
}

.no-bottom-margin {
    margin-bottom: 0
}

.section-header {
    position: relative;
    background: url(images/icon/seprator.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: inline-block;
    width: 100%
}

.section-padding {
    padding-top: 50px;
    padding-bottom: 50px
}

.top-header {
    background-color: #f5f5f5;
    padding-bottom: 14px;
    padding-top: 14px
}

.social li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px
}

.social li:first-child {
    margin-left: 0
}

.social li:last-child {
    margin-right: 0
}

.top-header .top-menu {
    text-align: right
}

.top-header .top-menu ul {
    padding-left: 0
}

.top-header .top-menu ul {
    display: inline-block;
    list-style: none
}

.top-header .top-menu ul li {
    float: left;
    padding-left: 22px;
    padding-right: 22px;
    position: relative;
    font-size: 13px
}

.top-header .top-menu ul li a {
    color: #555;
    text-transform: capitalize;
    text-decoration: none
}

.top-header .top-menu ul li a:hover {
    color: #de302f
}

.top-header .top-menu ul li:first-child {
    padding-left: 0
}

.top-header .top-menu ul li:last-child {
    padding-right: 0
}

.top-header .top-menu ul li:before {
    content: "|";
    position: absolute;
    left: -1px
}

.top-header .top-menu ul li:first-child:before {
    content: ""
}

.middle-header {
    padding-bottom: 33px;
    padding-top: 33px;
    background-color: #fff
}

.logo-block {
    position: relative
}

.logo-block a {
    padding-left: 102px;
    display: inline-block;
    text-decoration: none
}

.logo-block a img {
    position: absolute;
    left: 15px
}

.logo-block a b {
    text-transform: uppercase;
    font-size: 24px;
    display: block;
    color: #000;
    margin-top: 3px
}

.logo-block a span {
    font-size: 13px;
    color: #8c8b8b;
    float: left;
    margin-top: -6px
}

.navbar-brand.logo-block {
    display: none
}

.middle-header .col-md-6 {
    text-align: right
}

.location, .phone {
    position: relative;
    padding-left: 46px;
    display: inline-block;
    text-align: left
}

.location {
    margin-right: 32px
}

.location>img, .phone>img {
    position: absolute;
    left: 0
}

.location p {
    font-size: 16px
}

.location p span, .phone p span {
    display: block
}

.phone {
    margin-left: 32px
}

.phone>img {
    top: 7px
}

.phone p {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase
}

.phone p span {
    font-size: 20px;
    font-weight: 600;
    color: #de302f
}

.footer-main {
    background-image: url(images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 98px
}

.bottom-footer {
    background-color: #171717;
    padding: 30px 0
}

.bottom-footer ul {
    margin-bottom: 0;
    list-style: none
}

.bottom-footer ul li {
    float: left;
    padding: 0 8px;
    position: relative
}

.bottom-footer ul li:before {
    content: "|";
    color: #fff;
    position: absolute;
    left: -4px;
    top: 0
}

.bottom-footer ul li:first-child:before {
    content: ""
}

.bottom-footer ul li a {
    color: #fff;
    text-transform: uppercase;
    font-family: Oxygen, sans-serif;
    font-size: 12px
}

.bottom-footer p {
    margin-bottom: 0;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px
}

.widget-subscribe .subscribe-box {
    display: inline-block;
    padding: 45px 35px;
    border: 1px solid rgba(209, 209, 209, .2);
    color: #eee
}

.subscribe-box h4 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff
}

.subscribe-box p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 30px
}

.subscribe-box input {
    border: none;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    height: auto
}

.subscribe-box input:focus {
    box-shadow: none
}

.subscribe-box .input-group-btn>.btn, .subscribe-box input {
    border-radius: 0;
    outline: 0
}

.subscribe-box .input-group-btn>.btn {
    text-transform: uppercase;
    background-color: #f7b731;
    border-color: #f7b731;
    padding-top: 11px;
    padding-bottom: 11px
}

.widget-subscribe ul {
    margin-top: 22px;
    list-style: none
}

.widget-subscribe ul li {
    float: left;
    margin: 0 10px
}

.widget-subscribe .row ul li a {
    width: 45px;
    height: 35px;
    padding: 5px;
    display: inline-block
}

.widget-subscribe .row ul li a img {
    position: absolute;
    display: block
}

.widget-subscribe .row ul li a:hover img {
    transform: scale(1.5)
}

.footer-main .widget-title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    color: #fff;
    margin-bottom: 40px;
    background-image: none
}

.footer-main .widget {
    width: 100%;
    display: inline-block;
    margin-bottom: 75px
}

.widget-links ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 38px
}

.widget-links ul li:last-child {
    margin-bottom: 0
}

.widget-links ul li a {
    font-size: 13px;
    color: #fff;
    text-decoration: none
}

.widget-links ul li a:before {
    content: "";
    background-image: url(images/icon/ftr-link.png);
    background-repeat: no-repeat;
    width: 7px;
    height: 10px;
    display: inline-block;
    margin-right: 14px
}

.widget-about {
    color: #fff;
    font-size: 14px
}

.widget-about p {
    margin-bottom: 40px
}

.widget-about li {
    display: inline-block;
    width: 100%;
    position: relative;
    line-height: 19px;
    padding-left: 55px;
    margin-bottom: 40px;
    font-weight: 700
}

.widget-about li span {
    display: block
}

.widget-about li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 36px
}

.widget-about li:last-child {
    margin-bottom: 0
}

.widget-about li a {
    color: #fff;
    font-weight: 400
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .location, .phone {
        margin: 0
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .location, .phone {
        margin: 0
    }
}

@media only screen and (min-width:319px) and (max-width:767px) {
    .logo-block, .middle-header .col-md-6, .top-header .social, .top-header .top-menu {
        width: 100%;
        text-align: center
    }
    .top-header .social {
        margin-bottom: 14px
    }
    .top-header .top-menu {
        padding: 0
    }
    .top-header .top-menu ul li {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px
    }
    .logo-block {
        margin-bottom: 33px
    }
    .logo-block a {
        max-width: 220px;
        display: inline-block;
        position: relative
    }
    .logo-block a img {
        left: 0
    }
    .location, .phone {
        margin: 0
    }
    .bottom-footer p, .bottom-footer ul {
        width: 100%;
        text-align: center
    }
    .bottom-footer, .bottom-footer ul, .bottom-footer ul li {
        float: none;
        display: inline-block
    }
    .bottom-footer ul {
        margin-bottom: 10px
    }
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute
}

@media (min-width:1200px) {
    .container {
        width: 100%
    }
}

.gal-container {
    padding: 12px
}

.gal-item {
    overflow: hidden;
    padding: 3px
}

.gal-item .box {
    height: 350px;
    overflow: hidden
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover
}

.gal-item a:focus {
    outline: 0
}

.gal-item a:after {
    font-family: 'Glyphicons Halflings';
    opacity: 0;
    background-color: rgba(0, 0, 0, .75);
    position: absolute;
    right: 3px;
    left: 3px;
    top: 3px;
    bottom: 3px;
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s
}

.gal-item a:hover:after {
    opacity: 1
}

.modal-open .gal-container .modal {
    background-color: rgba(0, 0, 0, .4)
}

.modal-open .gal-item .modal-body {
    padding: 0;
    height: 100%;
    width: fit-content
}

.modal-open .gal-item button.close {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .35);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .35)
}

.modal-open .gal-item button.close:focus {
    outline: 0
}

.modal-open .gal-item button.close span {
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow: none
}

.gal-container .modal-dialogue {
    width: 80%
}

.gal-container .description {
    position: relative;
    height: 40px;
    top: -40px;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: left
}

.gal-container .description h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px
}

.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(.1);
    -moz-transform: scale(.1);
    -ms-transform: scale(.1);
    transform: scale(.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1
}

@media (min-width:768px) {
    .gal-container .modal-dialog {
        width: 55%;
        margin: 50 auto
    }
}

@media (max-width:768px) {
    .gal-container .modal-content {
        height: 250px
    }
}

.cf:after, .cf:before {
    content: " ";
    display: table
}

.cf:after {
    clear: both
}

.content {
    width: 100%;
    max-width: 1142px;
    margin: 0 auto;
    padding: 0 20px
}

a:focus {
    outline: 2px dashed #f7f7f7
}

@media all and (max-width:767px) {
    .content {
        padding: 0 20px
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none
}

@media all and (max-width:767px) {
    ul a {
        font-size: 1em
    }
}

ul .testing {
    display: block;
    height: 50%;
    background: #ccc;
    border: 4px solid #fff;
    text-align: center;
    overflow: hidden;
    font-size: .7em;
    text-decoration: none;
    font-weight: 700;
    color: #333;
    height: 70px;
    margin-bottom: -26px;
    box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, .4);
    -webkit-transition: all linear .1s;
    -moz-transition: all linear .1s;
    transition: all linear .1s
}

ul .testing .nameOfEmployee {
    display: block;
    padding-top: 10px
}

ul .testing .nameOfPekerjaan {
    top: 50%;
    display: block
}

.administration>li>a {
    margin-bottom: 25px
}

.director>li>a {
    width: 50%;
    margin: 0 auto 0 auto
}

.subdirector:after {
    content: "";
    display: block;
    width: 0;
    height: 130px;
    background: red;
    border-left: 4px solid #fff;
    left: 45.45%;
    position: relative
}

.departments, .subdirector {
    width: 100%
}

.departments>li:first-child, .subdirector>li:first-child {
    width: 18.59894921190893%;
    height: 64px;
    margin: 0 auto 92px auto;
    padding-top: 25px;
    border-bottom: 4px solid #fff;
    z-index: 1
}

.subdirector>li:first-child {
    float: right;
    right: 27.2%;
    border-left: 4px solid #fff
}

.departments>li:first-child {
    float: left;
    left: 27.2%;
    border-right: 4px solid #fff
}

.departments>li:first-child a, .subdirector>li:first-child a {
    width: 100%
}

.subdirector>li:first-child a {
    left: 25px
}

@media all and (max-width:767px) {
    .departments>li:first-child, .subdirector>li:first-child {
        width: 40%
    }
    .subdirector>li:first-child {
        right: 10%;
        margin-right: 2px
    }
    .subdirector:after {
        left: 49.8%
    }
    .departments>li:first-child {
        left: 10%;
        margin-left: 2px
    }
}

.departments>li:first-child a {
    right: 25px
}

.department:first-child, .departments li:nth-child(2) {
    margin-left: 0;
    clear: left
}

.departments:after {
    content: "";
    display: block;
    position: absolute;
    width: 43%;
    height: 35px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    margin: 0 auto;
    top: 130px;
    left: 29.4%
}

@media all and (max-width:767px) {
    .departments:after {
        border-right: none;
        left: 0;
        width: 49.5%;
        margin-top: 1.5em
    }
}

@media all and (min-width:768px) {
    .department:first-child:before, .department:last-child:before {
        border: none
    }
}

.department:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 22px;
    border-left: 4px solid #fff;
    z-index: 1;
    top: -22px;
    left: 50%;
    margin-left: -4px
}

.department {
    border-left: 4px solid #fff;
    width: 18.59894921190893%;
    float: left;
    margin-left: 1.751313485113835%;
    margin-bottom: 60px
}

.lt-ie8 .department {
    width: 18.25%
}

@media all and (max-width:767px) {
    .department {
        float: none;
        width: 100%;
        margin-left: 0
    }
    .department:before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 60px;
        border-left: 4px solid #fff;
        z-index: 1;
        top: -60px;
        left: 0;
        margin-left: -4px
    }
    .department:nth-child(2):before {
        display: none
    }
}

.department>a {
    margin: 0 0 -26px -4px;
    z-index: 1
}

.department>a:hover {
    height: 80px
}

.department>ul {
    margin-top: 0;
    margin-bottom: 0
}

.department li {
    padding-left: 25px;
    border-bottom: 4px solid #fff;
    height: 80px
}

.department li a {
    background: #fff;
    top: 48px;
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 60px;
    vertical-align: middle;
    right: -1px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 100%)!important;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(0, 0, 0, .25)), color-stop(100%, rgba(0, 0, 0, 0)))!important;
    background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 100%)!important;
    background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 100%)!important;
    background-image: -ms-linear-gradient(-45deg, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 100%)!important;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 100%)!important
}

.department li a:hover {
    box-shadow: 8px 8px 9px -4px rgba(0, 0, 0, .1);
    height: 80px;
    width: 95%;
    top: 39px;
    background-image: none!important
}

.department.dep-a a {
    background: #ffd600
}

.department.dep-b a {
    background: #aad4e7
}

.department.dep-c a {
    background: #fdb0fd
}

.department.dep-d a {
    background: #a3a2a2
}

.department.dep-e a {
    background: #f0f0f0
}

.dropdown-menu-test {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 100000
}

.dropdown-menu-test a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}

.dropdown-menu-test a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-menu-test {
    display: block
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41
}

.fullheight {
    height: 100%
}

.xc {
    display: flex;
    align-items: center;
    justify-content: center
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #2c3e50;
    background-image: none
}

select::-ms-expand {
    display: none
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease
}

.select:hover::after {
    color: #f39c12
}

.wannaAlignCenter {
    display: flex;
    justify-content: center;
    align-items: center
}

.main-p-format {
    padding: 70px;
    font-size: 112%;
    text-align: justify
}

#img-main {
    display: block;
    margin: auto
}

.img-footer {
    vertical-align: top;
    display: inline-block;
    margin: 0
}

.caption {
    display: block;
    font-size: 80%
}

#well-h1 {
    background: #141428
}

#well-h2 {
    background: #fafafa
}

#img-profile-resume {
    float: right
}

#profile-resume {
    float: right;
    border: 20px solid #fff;
    padding: 0
}

#profile-row {
    margin-top: 15px
}

#profile-row-sm {
    margin: 5px 0 0 0;
    padding: 1px 0 0 0
}

#main-img-txt {
    font-size: 125%;
    text-align: justify
}

#profile-test {
    margin-left: 15px
}

.event-row {
    display: table;
    table-layout: fixed;
    width: 100%
}

.event-about-div {
    display: table-cell;
    float: none;
    position: relative;
    vertical-align: middle
}

.event-about-bgimage {
    /* background-image: url(images/CEO_700x650.png); */
    /* max-height: 600px */
}

.bgimage-property {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about14 {
    display: table-cell;
    float: none;
    position: relative;
    vertical-align: middle
}

.about-event-right {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-width: 620px;
    width: 90%
}

.about14 .first-para {
    margin-bottom: 12px;
    margin-top: 12px
}

div#slider {
    overflow: hidden
}

div#slider figure img {
    width: 20%;
    float: left
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite
}

@keyframes slidy {
    0% {
        left: 0
    }
    20% {
        left: 0
    }
    25% {
        left: -100%
    }
    45% {
        left: -100%
    }
    50% {
        left: -200%
    }
    70% {
        left: -200%
    }
    75% {
        left: -300%
    }
    95% {
        left: -300%
    }
    100% {
        left: -400%
    }
}

.header-logo {
    margin-top: 30px;
    width: 140px;
    height: 70px
}

.cab-photo {
    display: flex;
    justify-content: center
}

.social-media {
    padding: 0 10px 0 0;
    display: flex;
    justify-content: center
}

.social-media img {
    width: 32px;
    height: 32px
}

.social-media-2 {
    padding: 30px 10px 0 0;
    display: flex;
    justify-content: center
}

.social-media-2 img {
    width: 32px;
    height: 32px
}

.holding-phone img {
    width: 360px!important;
    height: 421px!important
}

.banner-img {
    width: 1921px;
    height: 801px
}

.isometric-taxi-phone {
    width: 470px;
    height: 381px
}

.why-choose-us {
    height: 321px;
    width: 321px
}

.promotion-for-user {
    width: 400px;
    height: 100px
}

.partner-logo {
    height: auto;
    width: auto;
}

.staff-img {
    width: 1336px;
    height: 867px;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-logo {
        margin: 0 0 0 20px
    }
    .promotion {
        width: auto;
        height: 35vh
    }
    .modal-dialog {
        margin-top: 150px
    }
    .staff-img {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .header-logo {
        margin: 0 0 0 20px
    }
    .promotion {
        width: auto;
        height: 35vh
    }
    .modal-dialog {
        margin-top: 150px
    }
    .staff-img {
        max-width: 100%;
        height: 65vh;
    }
}

@media only screen and (min-width:319px) and (max-width:767px) {
    .header-logo {
        margin: 0 0 0 20px
    }
    .promotion {
        width: auto;
        height: 35vh
    }
    .modal-dialog {
        margin-top: 150px
    }
    .staff-img {
        max-width: 100%;
        height: auto;
    }
}

.accordion-container {
    position: relative;
    max-width: 90vw;
    height: auto;
    margin: 10px auto;
}

.accordion-container>h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}

.set>a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.set>a i {
    float: right;
    margin-top: 2px;
}

.set>a.active {
    background-color: #3399cc;
    color: #fff;
}

.content {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: none;
}

.content p {
    padding: 10px 15px;
    margin: 0;
    color: #333;
}

/* start timeline */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:before, .timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before, .timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline>li>.timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body>p, .timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline>li>.timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline>li>.timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline>li>.timeline-panel {
        float: right;
    }
    ul.timeline>li>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline>li>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

/* end timeline */

.btn-store {
    color: #777777;
    min-width: 254px;
    padding: 12px 20px !important;
    border-color: #dddddd !important;
  }
  
  .btn-store:focus, 
  .btn-store:hover {
    color: #ffffff !important;
    background-color: #168eea;
    border-color: #168eea !important;
  }
  
  .btn-store .btn-label, 
  .btn-store .btn-caption {
    display: block;
    text-align: left;
    line-height: 1;
  }
  
  .btn-store .btn-caption {
    font-size: 24px;
  }


  
#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}


ol.process-chart {
    color: #000;
    counter-reset: item;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 0 1em;
    padding: 0;
}

ol.process-chart > li,
ol.process-chart > li > div {
    position: relative;
}

ol.process-chart > li {
    background: linear-gradient(to right, rgba(0,0,0,0.25) 0%, transparent 25%);
    background-color: #fff;
    counter-increment: item;
    flex-basis: 0;
    flex-grow: 1;
    margin: 1em 1em 1em -1em;
    min-width: 11.25em;
    padding: 1em 1em 1em 2em;
}

ol.process-chart > li:before,
ol.process-chart > li > div:before {
    color: rgba(0,0,0,0.75);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

ol.process-chart > li:before {
    content: 'Step';
    display: inline-block;
    font-weight: 300;
    left: 2em;
    letter-spacing: 0.1em;
    position: absolute;
    top: 1em;
    transform: rotate(90deg);
    transform-origin: 25% 50%;
}

ol.process-chart > li:after {
    border-bottom: 1em solid transparent;
    border-left: 1em solid #fff;
    border-right: 0 solid transparent;
    border-top: 1em solid transparent;
    content: '';
    height: 100%;
    position: absolute;
    right: -1em;
    top: 0;
    width: 0;
    z-index: 1;
}

ol.process-chart > li > div {
    padding: 0 0 0 1em;
}

ol.process-chart > li > div:before {
    content: counter(item, decimal-leading-zero);
    font-size: 3em;
    font-weight: 500;
    line-height: 1;
    padding: 10px;

}

/*** PRIMARY ***/
ol.process-chart > li:nth-of-type(6n+1) {
    background-color: #a2ed56;
}

ol.process-chart > li:nth-of-type(6n+1):after {
    border-left-color: #a2ed56;
}

/*** SECONDARY ***/
ol.process-chart > li:nth-of-type(6n+2) {
    background-color: #83e4e2;
}

ol.process-chart > li:nth-of-type(6n+2):after {
    border-left-color: #83e4e2;
}

/*** TERTIARY ***/
ol.process-chart > li:nth-of-type(6n+3) {
    background-color: #fd6470;
}

ol.process-chart > li:nth-of-type(6n+3):after {
    border-left-color: #fd6470;
}

/*** QUATERNARY ***/
ol.process-chart > li:nth-of-type(6n+4) {
    background-color: #fca858;
}

ol.process-chart > li:nth-of-type(6n+4):after {
    border-left-color: #fca858;
}

/*** QUINARY ***/
ol.process-chart > li:nth-of-type(6n+5) {
    background-color: #fddc32;
}

ol.process-chart > li:nth-of-type(6n+5):after {
    border-left-color: #fddc32;
}

/*** MEDIA QUERIES ***/
@media only screen and ( max-width: 40em ) {

    ol.process-chart {
        margin: 1em 0 0 0;
        padding: 1em 0 0 0;
    }

    ol.process-chart > li {
        background: linear-gradient(rgba(0,0,0,0.25) 0%, transparent 25%);
        flex-basis: inherit;
        margin: -1em 0 1em 0;
        min-width: inherit;
        padding: 1em 1em 0 1em;
    }

    ol.process-chart > li:before {
        left: 1em;
        top: 2em;
    }

    ol.process-chart > li:after {
        border-bottom: 0 solid transparent;
        border-left: 1em solid transparent!important;
        border-right: 1em solid transparent;
        border-top: 1em solid #fff;
        bottom: -1em;
        height: 0;
        left: 0;
        right: inherit;
        top: inherit;
        width: 100%;
    }

    ol.process-chart > li > div {
        padding: 1em 1em 0 1em;
    }

    /*** PRIMARY ***/
    ol.process-chart > li:nth-of-type(6n+1):after {
        border-top-color: #a2ed56;
    }

    /*** SECONDARY ***/
    ol.process-chart > li:nth-of-type(6n+2):after {
        border-top-color: #83e4e2;
    }

    /*** TERTIARY ***/
    ol.process-chart > li:nth-of-type(6n+3):after {
        border-top-color: #fd6470;
    }

    /*** QUATERNARY ***/
    ol.process-chart > li:nth-of-type(6n+4):after {
        border-top-color: #fca858;
    }

    /*** QUINARY ***/
    ol.process-chart > li:nth-of-type(6n+5):after {
        border-top-color: #fddc32;
    }

}